<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6"><h1>Acreedores</h1></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
              <li class="breadcrumb-item active">Acreedores</li>
            </ol>
          </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="row">
  
      <div class="container-fluid">
      <div class="col-md-4">    
         <div class="card card-secondary card-outline">
           <div class="card-header">
            <h3 class="card-title">Búsqueda</h3>   
           </div>
           <div class="card-body">
            <form [formGroup]="frmAcreedor" (ngSubmit)="Submit()">
               <div class="input-group mb-3">
                 <input type="text" 
                        class="form-control form-control-sm" 
                        placeholder="Nombre" 
                        formControlName="nombre" 
                        id="nombre">            
                 </div>
                 <button class="btn btn-success btn-sm float-right" 
                         type="submit">Buscar</button>
            </form>
           </div>
         </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
      <div class="card card-primary card-outline">
        <div class="card-header"> 
             <div class="titulocard">
               <div class="itemlist">Lista de acreedores</div> 
                <div class="itemnvo">
                  <a [routerLink]="['/home/nAcreedor']" ng-alt="Nuevo">
                   Nuevo Acreedor
                  </a>
                </div>
             </div>
        </div>
        <div class="card-body"> 
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Activo</th>
                <th></th>
              </tr>
            </thead>
           <tbody *ngFor="let acree of listaAcreedor">
              <tr *ngFor="let item of acree.acreedorList">
                <td>{{item.acreedor_id}}</td>
                <td>{{item.acreedor_nombre}}</td>
                <td>{{item.acreedor_activo=== 1 ? 'Sí' : 'No'}}</td>                
                <td align="center">
                   <a [routerLink]="['/home/eAcreedor/' + item.acreedor_id ]" alt="Editar Cuenta">
                    <i class="fa fa-edit"></i>
                   </a>                  
                </td>
              </tr>                
            </tbody> 
            </table>
        </div>
      </div>
  </div>
</section>
  

