<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6"><h1>{{sectionName}}</h1></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                  <a [routerLink]="['/home']">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="['/home/empresa']">Empresas</a>
            </li>
              <li class="breadcrumb-item active">{{sectionName}}</li>
            </ol>
          </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="container">     
    <div class="row">
      <div class="col-12 col-md-12 col-sm-12" *ngIf="strError !== ''">
        <div class="alert alert-danger" role="alert">
          {{strError}}
        </div>
      </div>      
      <div class="col-sm-4">
        
        <div class="card card-secondary card-outline">
          <div class="card-header">
           * Datos requeridos  
          </div>
          <div class="card-body">
            <form [formGroup]="frmEmpresa" (ngSubmit)="Submit()">
               <div class="form-group">
                 <label for="nombre">*<strong>Nombre</strong></label>
                 <input type="text" 
                        class="form-control form-control-sm" 
                        placeholder="Nombre" 
                        formControlName="nombre" 
                        id="nombre" required />            
               </div>
               <div class="form-group">
                <label for="domicilio">*<strong>Domicilio</strong></label>
                <input type="text" 
                       class="form-control form-control-sm" 
                       placeholder="Domicilio" 
                       formControlName="domicilio" 
                       id="domicilio" required/>            
              </div>
              <div class="form-group">
                <label for="rfc">*<strong>RFC</strong></label>
                <input type="text" 
                       class="form-control form-control-sm" 
                       placeholder="RFC" 
                       formControlName="rfc" 
                       id="rfc" required/>            
              </div>
              <div class="form-group">
                <label for="curp"><strong>CURP</strong></label>
                <input type="text" 
                       class="form-control form-control-sm" 
                       placeholder="CURP" 
                       formControlName="curp" 
                       id="curp"/>            
              </div>
              <div class="form-group">
                <label for="etiqueta">*<strong>Etiqueta</strong></label>
                <input type="text" 
                       class="form-control form-control-sm" 
                       placeholder="Etiqueta" 
                       formControlName="etiqueta" 
                       id="etiqueta" required/>            
              </div>
              <div class="form-group">
                <label for="activo"><strong>Activo</strong></label>
                       <select id="activo" 
                               class="form-control form-control-sm" 
                               formControlName="activo" id="activo">
                        <option value="1">Activo</option>
                        <option value="0">No activo</option>                        
                     </select>         
              </div>
              <button class="btn btn-danger btn-sm float-left" type="button" (click)="Cancelar()">Cancelar</button>
              <button class="btn btn-info btn-sm float-right" type="submit" [disabled]="!frmEmpresa.valid">Aceptar</button>
           </form>
          </div>
        </div>

      </div>
    </div>
  </section>